.search-header {
    display: flex;
    padding-top: 16px;
    align-items: center;
    justify-content: space-between;
}

.back-icon {
    padding-left: 48px;
    color: white;
    padding-right: 16px;
}

.more-horiz-icon {
    color: white;
    padding-right: 48px;
}

.user-description {}

.search-body {
    border-top: 1px solid rgb(63, 63, 63);
    border-bottom: 1px solid rgb(63, 63, 63);
}

.search-element {
    display: flex;
    color: white;
    padding: 16px 32px;
}

.name {
    display: flex;
    font-weight: 600;
    align-items: center;
}

.info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 89%;
    padding-left: 16px;
}

.user-account {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

h2 {
    padding-left: 32px;
    color: white;
}

.pageIdentify {
    max-width: 100%;
    padding: 20px;
    background-color: #141d26ed;
    position: sticky;
    top: 0px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 999;
}